.search-movie {
    color: #ffffff;
    &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    &__buttons-left-side {
        display: flex;
        min-width: 24rem;
        justify-content: space-between;
        align-items: baseline;
    }
}